@media (min-width:1200px){
	/*.container {width: 1470px;}*/
	.container {width: 100%}
}
@media (min-width:1800px){.container {width: 1750px;}}

.logo {padding-top: 8px; padding-bottom: 8px}
.waitLoading {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-image: url('loading_round_blue.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,0.4);
	background-size: 5%;
	display: none;
}
#myNavbar {
	background: none; background-color:#FFFFFF;
	border-color: #004a87; border-bottom-width:2px; border-radius:0px;
	border-top-width:0px;border-left-width:0px;border-right-width:0px;}

.navbar-default .navbar-nav>li.dropdown>a, .navbar-default .navbar-nav>li.dropdown>a:hover {
	text-shadow: none;
	color: #004a87
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover {text-shadow: none; color: #004a87}

.navbar-default .navbar-nav>li.open>a.dropdown-toggle, .navbar-default .navbar-nav>li.open>a:hover.dropdown-toggle {color: #FFFFFF;}

.navbar-inverse {}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {background-image: -webkit-linear-gradient(top,#004a87 0,#004a87 100%);}

.navbar-default .navbar-nav>li.dropdown>a, .navbar-default .navbar-nav>li.dropdown>a:hover {
    color: #004a87;
}

.navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color:#004a87;
}

.div_pageFooter{border-style:none; text-align:center; padding-bottom:10px}

.cbChart span.glyphicon {opacity: 0;}
.cbChart.active span.glyphicon {opacity: 1;}
.tundra .dijitTextBox{padding: 0px;}
.tundra .dijitInputContainer INPUT{padding-top: .5em; padding-left: .5em!important;}
/* canvas { width: 500px !important; max-width: 1000px; height: 500px !important;} */
.btn-toolbar{margin-top: -5px}
.tr_ChildDocumentHeader td{font: normal 9pt Arial; color: #004a87}

a.panelELink{color: #FFFFFF; padding-left: 20px;}
a.a:Hover.panelELink{color: #FFFFFF;}

a.addNew_ChildDocs{color: #FFFFFF; float: right; padding-right: 15px;}
a.a:Hover.addNew_ChildDocs{color: #FFFFFF;}
.td_RepeatControlsHeadRow {background-color: #FFFFFF; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px;}
a.ViewColumns {font: normal 9pt Arial; color: #004a87}
a:Hover.ViewColumns {font: normal 9pt Arial}
.txt_Hide {display:none}
span {font-family:Arial, Helvetica, sans-serif;}
/*.typeahead{width: 100%; padding: 0; height: 100%; border: 0;}*/
.affix-custom{width:100%; z-index:100; top:53px; left:5px;}
.glyphicon-refresh-animate {-animation: spin .7s infinite linear; -webkit-animation: spin2 .7s infinite linear;}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.cellload{background-image: url("cellLoader.gif"); background-repeat: no-repeat;}

.control-label{font-weight:bold; white-space:normal;}


.pagerbutton{
	background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
	border-style:solid; padding:7px; border-width: 1px; text-shadow: 0 1px 0 #fff; border-color: #ccc;
}
.pagerbuttonDisplay{border-style:solid; padding:7px; border-width: 1px; text-shadow: 0 1px 0 #fff; border-color: #ccc; border-right-style: none; color:#03345C;}
.pagerbutton a:link{font-weight:bold}
.pagerbuttonFirst{-webkit-border-top-left-radius:3px; -webkit-border-bottom-left-radius:3px; border-right-style:none;}
.pagerbuttonMiddle{border-right-style: none;} 
.pagerbuttonLast{ -webkit-border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px;}
.xspPagerRight{padding:0px}
.RBCustom td {padding-right:15px}
.RBCustom label {font-weight:normal; margin-bottom:0px}
.RBCustom input[type="radio"] {margin-right:5px}

.panelEC a.linkCollapse:after {font-family:'Glyphicons Halflings'; content:"\e114"; float: right; color: grey;}
.panelEC a.linkCollapse.collapsed:after {content:"\e080";}
.panelEC a.linkCollapse:after{color: #ffffff!important}
a:Hover.linkCollapse, a:focus.linkCollapse, a:active.linkCollapse {color: #FFFFFF}

.scBodyImage {margin:auto}

a.dropDownLink:after {
	font-family: 'Glyphicons Halflings'; content: "\e114"; float: right; 
	color: yellow!important; margin-left: 5px; cursor: pointer;}

.CheckboxGroupCol {display: inline;}
.CheckboxGroupCol td {float: left;}
.CheckboxGroupCol label {font-weight:normal}
.CheckboxGroupCol label input {margin-right:10px;}
.CheckboxGroupCol_2Col td {width: 49%;}

.ui-jqgrid .ui-jqgrid-pager { 
	border-left: 0 none !important;border-right: 0 none !important; 
	border-bottom: 0 none !important; margin: 0 !important; 
	padding: 0 !important; position: relative; 
	height: 25px;white-space: nowrap;
	overflow: hidden;font-size:11px;
	}
	
.ui-jqgrid-pager .ui-pg-div {padding:1px 0;float:left;position:relative;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button { cursor:pointer; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}

.ui-jqgrid .ui-jqgrid-pager {
    line-height: 15px;
    height: 45px;
    padding-top: 3px!important;
    padding-bottom: 5px!important;
    background-color: #eff3f8!important;
    border-bottom: 1px solid #E1E1E1!important;
    border-top: 1px solid #E1E1E1!important;
}
.ui-jqgrid-labels, #gsh_listxGrid_rn, .ui-jqgrid-hbox {background-color:#f5f5f5}
.ui-jqgrid-sortable{font-weight:700; font-size: 13px; color: #777;}
.ui-jqgrid tr.ui-row-ltr td {font-size:12px; text-overflow: ellipsis; vertical-align: middle;}

.ui-jqgrid-htable, .ui-jqgrid-btable, .ui-jqgrid-pager, .ui-jqgrid-view, .ui-jqgrid-bdiv, .ui-jqgrid-hdiv, .ui-jqgrid-hbox, .ui-jqgrid 
{ max-width: 100% !important; width:100% !important; border-collapse: collapse;}

.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea { margin-bottom:5px ;}
.ui-jqgrid .ui-jqgrid-bdiv { overflow-y: scroll }
#listxGrid td{vertical-align:middle}
#t_listxGrid{padding: 0px;}

.ui-jqgrid-htable.ui-common-table.table.table-bordered.table-condensed thead th:first-child{border-left:0px}
.ui-jqgrid-htable.ui-common-table.table.table-bordered.table-condensed thead th{vertical-align: inherit;}
.ui-jqgrid-htable.ui-common-table.table.table-bordered.table-condensed input{height:auto; margin-bottom:0px}

.navCustom ul li {padding:0px}

/* Spinner for Duration */
.spinner {width: 150px;}
.spinner input { text-align: right;}
.input-group-btn-vertical { position: relative; white-space: nowrap; width: 1%; vertical-align: middle; display: table-cell;}
.input-group-btn-vertical > .btn {
  display: block; float: none; width: 100%; max-width: 100%; padding: 8px; margin-left: -1px; position: relative; border-radius: 0; margin-right: 4px;}
.input-group-btn-vertical > .btn:first-child {border-top-right-radius: 4px;}
.input-group-btn-vertical > .btn:last-child {margin-top: -2px; border-bottom-right-radius: 4px;}
.input-group-btn-vertical i{position: absolute; top: 0; left: 4px;}
.input-group-btn-vertical > .btn:first-child i{margin-top: 1px;}
.input-group-btn-vertical > .btn:last-child i{margin-top: 2px;}

#tblHeader td{text-align: center;}
#tblSummary ul{margin-bottom:0px}
#tblSummary td:not(:first-child) {text-align: right;}
#tblLanguage td:not(:first-child) {text-align: right;}
#tblLanguage th{font-weight:bold}

#tblInterpreter thead>tr:first-child>th{font-weight:bold}
#tblInterpreter td{text-align:right}
#tblInterpreter td:first-child, #tblInterpreter td:nth-child(2) { text-align: left }


.tblLocation > thead > tr:first-child > th, .tblLocation > thead > tr:nth-child(2) > th {font-weight:bold}
.tblLocation > tbody > tr > td{text-align:right}
.tblLocation > tbody > tr > td:first-child, .tblLocation > tbody > tr > td:nth-child(2) {text-align: left};

/*.typeahead.dropdown-menu{position:static}*/

.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-left: 15px solid rgb(255, 179, 40);
	border-radius: 3px;	
	padding: 10px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {font-size: 90%;}
html, body, form {height:auto}
.fc-sun, .fc-sat{color: #b8b8b8; background: whitesmoke;}
.fc-event{cursor: pointer;}
.fc-ListButton-button.fc-corner-right{margin-right:0.75em;}

.panel-heading-custom-top {padding-top: 3px; padding-bottom: 3px;}
.panel-heading-custom-top h3 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: normal; width: 50%; padding-top: 10px; font-size: 18px;}
.panel-default>.panel-heading-custom {background-image:none; background-color: #33a6cc; color: #ffffff;}
.panel-default>.panel-heading-custom .btn{color: #ffffff;}

.input-group-btn select {border-color: #ccc; margin-top: 0px; margin-bottom: 0px; padding-top: 7px; padding-bottom: 7px; background-color: lightgrey;}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.table>tbody>tr.active>td{background-color:#FFFFC4}

span.twitter-typeahead {width:100%}

.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC; border-radius: 8px;
	outline: medium none; padding: 8px 12px; width: 100%;
}
.typeahead {background-color: #F5F5F5;}
.typeahead:focus {border: 2px solid #0097CF;}
.tt-query {box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.tt-hint {color: #999999;}
.tt-menu {
	background-color: #F5F5F5; border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px; padding: 4px 0; width: 100%; max-height: 250px; overflow-y: auto;
}
.tt-suggestion {padding: 3px 10px;}
.tt-suggestion:hover {cursor: pointer; background-color: #0097CF; color: #FFFFFF;}
.tt-suggestion p {margin: 0;}

/* Colmenu Hide few options */
ul.column-menu li:nth-child(5), ul.column-menu li:nth-child(6), ul.column-menu li:nth-child(9), ul.column-menu li:nth-child(10) {
	display:none !important
}


/*a[value=freeze] {display:none !important}

.iColorsGrid {border-radius: 3px; padding: 2px 7px; background-color:#eff6f6}*/
.iColorsGrid {padding-right: 5px}

.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{padding-top:3px; padding-bottom:3px}

#divPrint_HTML {
	background-color: white; height: 100%; width: 100%; top: 0; left: 0; margin: 0; padding: 15px; line-height: 18px; }
#divPrint_HTML td {font-size: 12px;}
#divPrint_HTML th {font-size: 11px; font-weight:bold}
#divPrint_HTML .sc_appDate {width: 80px;}

.scIndent{padding-left: 0.5em;}

.icon_expire {
  position: relative; display: block; margin-bottom: 2rem;
  .glyphicon {font-size: 4rem; color: gray;
    &:first-child {font-size: 2.5rem; color: darkred; z-index: 1; position: absolute; top: 15px; left: 20px;}
  }
}

.ui-jqgrid td textarea{width:99%}

.planner_hour_table {overflow: hidden;}
.planner_hour_table table { border-collapse: collapse; }
.planner_hour_table table td{ padding: 1px 2px; padding-right:3px}
.planner_hour_table table tbody td {border-collapse: collapse; border-left: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD}
.planner_hour_table table tbody td:first-child { border-left: none; }
.planner_hour_table table tbody tr:last-child td { border-bottom: none;}
#tblPlanner>tbody>tr {border-bottom: 1.5pt solid #ddd;}

/*.group-conditions label.active {background-color: green;}*/
.group-conditions label {background-color: #cfcac7; background-image:none}
.input-group-btn>.glyphicon{top:0px}

.gridli{
	
list-style: none;
margin-left:5px;
cursor:pointer;
}
/*Custom collapsible message box*/
.message-panel .panel-title {
	font-weight: bold;
}


.message-panel .panel-body .section {
	margin-bottom: 15px;
}

.fieldHelp{
	color:grey;
	font-size:0.8em;
}
